body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  font-size: 1rem;
  -webkit-text-size-adjust: 100%;
  --border-gray: 0.12rem solid rgb(107, 107, 107);
  --button-green: #39d38c;
  --main-black: #222222;
  --main-blue: #00ccff;
  --title-gray: rgb(106,106,106)
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App > div{
  max-width: 100vw;
  overflow-x: hidden;
}

.home-container{
  min-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 11fr;
  display: grid;
  /* border: 4px solid rgb(255, 190, 255); */
  justify-content: center;
  position: relative;
  overflow: hidden;
}


.content-container{
  display: grid;
  grid-template-columns: 5.5fr 6.5fr;
  position: relative;
  max-height: 100%;
  /* border: 3px solid red; */
  z-index: 1;
  align-items: center;
  background-color: black;
}

.image{
  display: none;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  /* border: 2px solid red; */
  /* width: 100%;
  max-height: 100%; */
  /* height: auto; */
}

.content-container-left{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-black);
  position: relative;
  height: 100%;
  /* border: 3px solid rgb(131, 112, 49); */
}

.home-main-image-wrapper{
  width: 100%;
  height: 100%;
  animation: grayToColor ease-in 2.8s forwards;
  -webkit-animation: grayToColor ease-in 3.5s forwards; 
  -moz-animation:  grayToColor ease-in 3.5s forwards;
  -ms-animation:  grayToColor ease-in 3.5s forwards;
  background-image: url('./walletImages/marketingBeach.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  will-change: transform;
}

@keyframes grayToColor {
  from {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter:  grayscale(100%);
  }

  to{
    -webkit-filter: grayscale(0%);
    -moz-filter:  grayscale(0%);
    filter: grayscale(0%) brightness(1.2);
  }
}


.content-container-right{
 /* border: 3px solid green; */
 width: 100%;
 height: 100%;
 position: relative;
 background-color: rgb(0, 0, 0);
}

.overlay{
  height: 100%;
  width: 25%;
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(-90deg, transparent, var(--main-black));
}



.stars-container-home{
  z-index: 4;
  position: fixed;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4rem;
}

.canvas-wrapper{
  flex: 1;
}

.loader-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.loader-content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-container{
  display: grid;
  max-width: 100vw;
  grid-template-columns: 1fr;
  /* grid-template-rows: 85% 15%; */
  min-height: 12vh;
  z-index: 2;
  background-color: #fcfdfd;
  border-bottom: .01rem solid rgb(216, 216, 216);
  box-shadow: 1px 3px 5px rgb(233, 233, 233);
  /* background-color: white; */
}

.menu-text,
.logo{
  color:var(--main-black) !important;
  font-size: 1.4rem;
}

.logo-wrapper{
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo{
  border: .2rem solid var(--main-black);
  /* outline: .27rem solid rgb(226, 226, 226); */
  align-self: center;
  width: 50%;
  aspect-ratio: 1;
  display: flex;
  border-radius: 900rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 600;
  justify-self: center;
  font-size: 1em;
}

.menu-content-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  padding: 1.2rem 2rem;
}

.menu-buttons-container{
  flex: 1;
  display: flex;
  align-items: center;
  gap: 4rem;
  /* border: 2px solid red; */
}


.cart-icon-quantity-wrapper{
  padding: .7rem;
  transition: .300s ease-in;
  width: 2.3rem;
  height: 2.3rem;
  aspect-ratio: 1;
  border: .12rem solid;
}

.change-in-cart{
  background-color: var(--main-blue);
  border-color: rgb(211, 211, 211) !important;
  color: rgb(255, 255, 255) !important;
  text-shadow: 0 .5px .5px rgb(107, 107, 107);
}

.shopping-cart-wrapper{
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: .2rem;
  /* border: 2px solid pink; */
}

.main-system-message-container{
  background-color: rgb(240,240,240);
  color: #444444;
  /* padding: .4rem; */
  display: none;
  font-size: .8rem;
  justify-content: center;
  align-items: center;
  /* display: flex; */
  font-weight: 400;
}

.shop-now-button{
  position: absolute;
  z-index: 2;
  bottom: 30%;
  font-size: 1.4rem;
  padding:1rem 10rem;
  background-color:rgb(30,30,30);
  color: white;
  border-top-right-radius: .7rem;
  border-bottom-right-radius: .7rem;
  border: none;
  /* font-weight: 600; */
}



.shop-now-button:hover{
  background-color: black;
}

li{
  color: white;
  list-style: none;
  font-weight: 500;
}

.navigation-wrapper{
  /* border: 1px solid red; */
  flex: 1;
  /* align-self: flex-end; */
}

.nav-list{
  display: flex;
  gap: 5rem;
  /* padding-right: 2rem; */
  /* border: 2px solid red; */
}

.footer-container{
  background-color:var(--main-black);
  width: 100vw;
  z-index: 2;
  position: relative;
  bottom: 0;
  min-height: 50vh;
  color: white;
  /* padding: .3rem; */
  margin: 0;
  color: gray;
  /* text-align: center; */
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  padding: 7vw;
  gap: 3rem;
}

.footer-section{
  /* border: 1px solid rgb(255, 17, 17); */
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  grid-template-rows: 1fr 1fr 5fr;
  grid-template-columns: 1fr;
}

.footer-section > input{
  width: 100%;
  padding: .5rem;
  padding-left: 1rem;
  background-color: #464646;
  border: none;
  outline: none;
}




.shop-page-wrapper{
  max-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 11fr;
}

.shop-main-content{
  display: grid;
  grid-template-columns: 3fr 9fr;
  max-height: 100%;
  position: relative;
}

.displayed-products-container{
  padding: 5rem 10rem 5rem 10rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat( 3,1fr);
  gap: 1rem;
}

.product-image-container{
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
}



.product-card-info{
  background-color: rgb(245,245,245);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .2rem;
  padding:.4rem;
  border: .1rem solid rgb(230, 230, 230);

}

.product-type{
  font-size: .68rem;
  color:rgb(90,90,90);
}

.product-name{
  font-weight: 600;
  color: rgb(30,30,30);
  font-size: .95rem;
}

.product-price{
  font-weight: 500;
  font-size: .95rem;
  color: rgb(65,65,65);
}

.shop-side-bar{
  display: flex;
  max-height: 100%;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
}

.product-main-image-container{
  height: 100%;
  position: relative;
}

.shop-now-button-wrapper{
  transition: .14s ease-in-out;
}

.shop-now-button-wrapper:hover{
    transform: scale(1.1);
}

.open-menu-container{
  border-right: .05rem solid rgb(83, 83, 83);
  position: fixed;
  width: 30vw;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: var(--main-black);
  padding: 2rem;
  border-top-right-radius: 1.5rem ;
  border-bottom-right-radius: 1.5rem;
  z-index: 3;
}

.close-menu-icon{
  font-size: 1.6rem; 
  right:2rem;
  color: white;
   position: absolute;
}

.menu-title{
  color:  rgb(253, 253, 253);
  font-size: 3rem;
  font-weight: 500;
}

.nav-item-list{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu-item{
  /* padding-bottom:.8rem; */
  padding: 1rem;
  width: 100%;
  display: flex;
  /* border-bottom: .12rem solid rgb(166, 166, 166); */
  color:  rgb(255, 253, 253);
  font-size: 1.2rem;
  text-decoration: none;
}

.menu-item:hover{
  /* background-color: #5e5e5e; */
  color: rgb(160, 160, 160);

}

.nav-wrapper{
  padding: 4rem 1rem;
}

.opened-product-page{
  height: 100vh;
  position: relative;
  display: flex; 
  flex-direction: column; 
}



.opened-product-main-content{
  flex: 1;
  position: relative;
  display: grid;
  grid-template-columns: 65% 35%;
}

.main-content-left{
  display: flex;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  justify-content: center;
}

.displayed-image-container > img{
  width: 90%;
  height: auto;
}

.main-content-right{
  padding: 4rem 16rem 2rem 0;
}

.displayed-image-container{
  max-height: fit-content;
}

.product-container{
  background-color: white;
  max-width: 100%; 
  grid-template-columns: 1fr;
  display: grid;
  border:.12rem solid rgb(225, 225, 225);
}

.stars-container-opened-product{
  display: flex;
  flex-direction: row-reverse;
  font-size: .75rem;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: .5rem;
  gap: .4rem;
}


.product-main-image{
  width: 100%;
  position: relative;
}



.product-basic-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: .2rem;
  border-bottom: .1rem solid gray;
  margin-bottom: 1rem;
}

.product-title{
  color: rgb(30,30,30);
  font-size: 2.1rem;
}

.product-sub-title{
  color: rgb(140,140,140);
  font-weight: 400;
  font-size: 1rem;
}

.opened-product-price{
  font-size: 1.3rem;
  font-weight: 600;
  justify-self: flex-end;
}

.all-colors-container{
  min-height: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  /* border: 2px solid red; */
}

.add-opened-product-button{
  width: 100%;
  padding: .7rem;
  font-size: 1rem;
  border-radius: .35rem;
  border: .15rem solid transparent;
  background-color: rgb(30,30,30);
  color: white;
  font-weight: 600;
}
.add-opened-product-button:hover,
.checkout-button:hover{
  background-color: rgb(97, 97, 97);
  background-color: transparent;
  border: .13rem solid rgb(30,30,30);
  color: var(--main-black);
}

.available-color-container{
  border: 1px solid rgb(158, 158, 158);
  width: 2.4rem;
  aspect-ratio: 1;
  border-radius: 900rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.available-color{
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 900rem;
}

.extra-info-container{
  margin-top: 1rem;
  color: rgb(48, 48, 48);
}

.features-container{
  min-height: .5rem;
  background: rgb(231, 231, 231);
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.opened-features-container{
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  background: rgb(231, 231, 231);
  width: 100%;
  left: 0;
  padding: 0rem 2rem 1rem;
  display: grid;
  gap:.3rem
}

.extend-features-button{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.extra-info-title{
  font-size: 1rem;
  color: #808080b3;
}

.feature-text{
  font-size: .9rem;
  color: #202020b3;
}

.reviews-wrapper{
  padding: 1rem 0;
  display: grid;
  gap: 1.5rem;
}


.review-container{
  overflow: hidden;
  display: grid;
  border-top: .1rem solid rgb(190, 190, 190);
  border-bottom: .1rem solid rgb(190, 190, 190);
  padding: 1rem 0rem;
  height: 100%;
  align-items: center;
  position: relative;
}

p::first-letter{
  text-transform: capitalize;
}

.author-initials-wrapper{
  background-color: rgb(231, 231, 231);
  color: rgb(31, 31, 31);
  /* border: 2px solid rgb(22,22,22); */
  width: 5rem;
  height: 5rem;
  aspect-ratio: 1;
  font-weight: 500;
  font-size: 1.5rem;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 900rem;
}

.author-info-top{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 0 1rem;

}

.author-info-bottom{
  display: flex;
  height: 100%;
  padding:0 1rem;
  gap: .3rem;
  align-items: center;
  justify-content: center;
}

.author-info{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.page-select-container{
  display: flex;
  justify-content: center;
  gap: .9rem;
  padding: 1rem 0 2rem 0rem;
}

.page-select-button{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 900;
  color: var(--main-blue);
}

.open-shopping-cart-container{
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  width: 100vw;
  background-color: rgba(0,0,0,.5);
}

.opened-cart{
  width: 30%;
  right: 0;
  top: 0;
  height: 100%;
  max-height: 100vh;
  position: inherit;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:.6fr 4.3fr 1.1fr;
}

.cart-title-wrapper{
  background-color: rgb(231, 231, 231);
  padding: 1rem;
  font-size: .85rem;
  color: rgb(51, 51, 51);
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.added-items-container{
  padding: 1rem;
  max-height: 100%;
  overflow: scroll;
}

.quantity-cart-item{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 900rem;
  position: absolute;
  border: 1px solid rgb(185, 185, 185);
  right: 0;
  top: 0;
  width: 1.4rem;
  height: 1.4rem;
  font-size: .96rem;
  padding: .62rem;
  aspect-ratio: 1;
  background-color: var(--main-blue);
  color: white;
  font-weight: 700;
  text-shadow: 0px .5px .5px rgb(180, 180, 180);
}

.cart-total-price-container{
  padding: .5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart-total-price{
  font-weight: 500;
  font-size: 1.1rem;
}

.checkout-button-container{
  border: .2rem solid rgb(170, 170, 170);
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.checkout-button{
  flex: 1;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  border-radius: .15rem;
  border: none;
  outline: none;
  background-color: rgb(30,30,30);
  color: white;
}

.shopping-cart-icon-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

.close-menu-container{
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 900;
  font-size: 1.3rem;
}

.all-items-cart-container{
  max-height: 100%;
  display: grid;
  gap: 1rem;
}

.all-items-cart-container > div{
  padding: .5rem;

}

.item-in-cart-container{
  border-top: .1rem solid rgb(170,170,170);
  border-bottom: .1rem solid rgb(170,170,170);
  max-height: 10rem;
  display: grid;
  grid-template-columns: 1.5fr 4fr 1.5fr;
}

.in-cart-main-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .2rem;
  padding: 2rem;
}

.in-cart-name{
  font-weight: 800;
  color: rgb(30,30,30);
}

.in-cart-type{
  font-weight: 500;
  font-size: .9rem;
  color: rgb(140, 140, 140);
}

.in-cart-price{
  font-weight: 800;
}

.in-cart-quantity-wrapper{
  display: flex;
  align-items: center;
}

.in-cart-quantity-selector{
  border: .1rem solid rgb(201, 201, 201);
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
}

.in-cart-quantity-selector > div > button{
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(31, 31, 31);
  width: 100%;
}

.in-cart-quantity-text{
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: .9rem;
  justify-content: center;
}

.input-group-container{
  display: flex;
  gap: 0;
}

.checkout-input{
  width: 100%;
  padding: .8rem;
}

input{
  appearance: none;
  border: none;
  border-bottom: .2rem solid rgb(255, 255, 255);
  outline: none;
  border-radius: .2rem;
  background-color: rgb(255, 255, 255);
  border-radius: .25rem;
}


input:focus{
  border-bottom: .2rem solid #1d1d1d;
}

.form-shipping-info-title{
  padding: 0 0.5rem .5rem;
}

.progress-container > div{
  background-color: rgb(175, 175, 175);
  flex: 1;
  display: flex;
  justify-content: center;
  height: .4rem;
  position: relative;
}

.progress-container > div > p{
  position: absolute;
  bottom: -1.5rem;
  font-size: .85rem;
}

.disabled{
  background-color: gray !important;
}

.mobile-message-wrapper{
  display: none;
}

.confirmation-page-container{
  min-height: 100vh;
  font-size: 1.2rem;
}

.confirmation-main-content{
  padding: 4rem;
  background-color: rgb(239,239,239);
  margin: 1rem;
}

.order-info-container{
  font-size: 1rem;
  display: grid;
  gap: 1rem;
  color: var(--main-black);
}

.user-info-form{
  display: grid;
}

.user-info-form > input{
  border: none;
  border-radius: .3rem;
  border-bottom: .2rem solid rgb(240, 240, 240);
  outline: none;
  padding: .75rem;
  grid-template-columns: repeat(5, 1fr);
}

.user-info-form > input:focus{
  border-color: black;
}

.payment-form{
  border: var(--border-gray);
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

.payment-form > h2 {
  font-size: 1rem;
  color: gray;
  padding-bottom: .5rem;
  padding-left: .5rem;
}

.payment-form > button {
  padding: .75rem;
  width: 100%;
  background-color: var(--button-green);
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border-radius: .25rem;
}

.payment-form > button:disabled{
  background-color: rgb(177, 177, 177);
}

.checkout-amount-value{
  font-size: .85rem;
  font-weight: 500;
  color: rgb(145,145,145);
}

.checkout-total-value{
  font-size: 1rem;
  font-weight: 600;
}

.about-page-container{
  color: var(--title-gray);
}

.about-main-info{
  display: grid;
  gap: 1rem;
  /* grid-template-rows: repeat(2, 1fr); */
  /* height: 100%; */
  /* border: 2px solid blue; */
  position: relative;
  padding: 2rem 10vw;
}



.main-info-left{
  font-size: 1.17rem;
  display: flex;
  align-items: center;
  display: grid;
  color: rgb(140, 140, 140);
}

.main-info-right{
  /* border: 3px solid rgb(57, 112, 31); */
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-info-left > p {
  align-items: center;
  align-self: center;
  font-size: .95rem;
  
}

.about-image-wrapper{
  /* border: 2px solid green; */
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.about-image-wrapper > img{
    /* max-width: 30vw; */
    border-radius: .5rem;
    width: 100%;

}

.about-page-main-content{
/* border: 2px solid red; */
/* s  display: grid; */
  /* gap: 1rem; */
  /* justify-items: center; */
}

.about-page-main-content > div > h1{
  color: var(--main-black);
  font-size: 1.8rem;
  padding-left: 10vw;
  margin: 2rem;
  margin-left: 0;

}

.why-buy-container{
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.reasons-why-container{
  display: grid;
  grid-template-columns: repeat( 2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: .4rem;
}

.why-buy-container > h2{
  font-weight: 400;
  padding: 3rem;
  color: var(--title-gray);
  font-size: 1.8rem;
  text-overflow: none;
  white-space: nowrap;
}

/* container w/ reason -> h3 p */
.reasons-why-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: top;
  gap:1rem;
  padding: 1rem;
}

.reasons-why-container > div > p {
  color: rgb(140,140,140);
  font-weight: 500;
  font-size: 1rem;
}

.reasons-why-container > div > h3{
  text-transform: uppercase;
  font-weight: 600;
  font-size: .98rem;
  color: rgb(70, 70, 70);
}

.selected-word-blue{
  color: var(--main-blue);
}

.custom-icon{
  /* border: .125rem solid var(--main-black); */
  border: var(--border-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 2.7rem;
  border-radius: 900rem;
  font-size: 1.3rem;
  box-shadow: 0px 2px 2px rgb(228, 228, 228);
}

.react-icon{
  color: var(--main-blue);
  font-size: 1.5em;
}

.admin-login-button{
  background-color: transparent;
  color: rgb(105, 105, 105);
  border: none;
  outline: none;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3rem;
  font-size: 1.3rem;
}

.login-header-wrapper{
  padding: 4rem;
  display: grid;
  justify-content: center;
  gap: 2.5rem;
  color: black;
  /* border: .7rem solid rgb(218, 62, 1); */
}

.login-page-container{
  /* border: 2px solid red; */
  height: 100vh;
  max-height: 100vh;
  display: grid;
  width: 100vw;
  grid-template-rows: 1fr 5fr;
}

.input-wrapper{
  width: 100%;
}

.login-input{
  border: var(--border-gray);
  padding: 1rem;
  width: 100%;
  border-radius: .5rem;
}

.admin-form{
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.admin-page-login-button{
  padding: 1.4rem;
  border: none;
  background-color: var(--main-blue);
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  color: rgb(82, 82, 82);
  position: absolute;
  bottom: 0;
}

.admin-home-container{
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-rows: .5fr 5.5fr;
  padding: 2rem;
}

.admin-portal-header{
  width: 100%;
}

.admin-main-content{
  width: 100%;
  display: grid;
  gap: 2rem;
  position: relative;
}

.admin-main-content > div {
  border: var(--border-gray);
  display: grid;
  width: 100%;
  padding: 2rem;
  color: var(--main-black);
  grid-template-rows: 1fr 5fr;
}

.blog-actions-container{
  display: grid;
  align-items: center;
  padding: 2rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.blog-actions-container > div{
  height: 100%;
}

.blog-actions-container > div > button {
  width: 100%;
  height: 100%;
  background-color: rgb(134, 255, 205);
  border: none;
  outline: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #414141;
}

.blog-actions-container > div > button:hover{
  background-color: #00ccff;
  color: var(--main-black);
}

.admin-form-container{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw !important;
    background-color: white;
    /* display: grid;
    grid-template-rows: .3fr 5.7fr; */
}

.blog-form{
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 5.3fr .7fr;
  /* grid-template-rows: .4fr .4fr 4.2fr .4fr .6fr ; */
}

.form-left{
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(3, .5fr) 4.5fr;
}

.form-right{
  display: grid;
  gap: 1rem;
}

.form-left > input{
  border: 1px solid gray;
  border-radius: .5rem;
  padding: 1rem;
}

textarea {
  border-radius: .5rem;
  padding: 1rem;
  resize: none;
}

.blog-input-container{
  display: flex;
  gap: 1rem;
  border-radius: .5rem;
}

.blog-input-container > input{
  width: 100%;
  padding: 1rem;
  border: var(--border-gray);
}

.blog-form > button {
  border-radius: .5rem;
  border: none;
  outline: none;
  background-color: #00ccff;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(51, 51, 51);
  grid-column-end: -1;
  grid-column-start: 1;
}

.blog-form > button:hover {
    opacity: .5;
    color: var(--main-black);
}

.radio-input{
  border: .125rem solid rgb(87, 87, 87);
  height: 1.2rem;
  width: 1.2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 900rem;
}

.radio-input:checked{
  background-color: rgb(0, 132, 240);
}

.radio-container{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  gap: .5rem;
}

.blogs-page-container{
  min-height: 100vh;
  display: grid;
  /* grid-template-rows: .3fr .3fr 3.9fr 1.4fr; */
  justify-content: center;
  gap: 3rem;
}

.post-data-wrapper{
  /* border: 2px solid sandybrown; */
  position: absolute;
  font-size: .95em;
  z-index: 2;
  gap: .4rem;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1rem;
  text-shadow: 1px 1px rgb(32, 32, 32);
}

.post-data-wrapper > h3{
  width: max-content;
  padding: .15rem;
}

.blogs-wrapper{
  background-color: rgba(0,0,0, .085);
  padding: 2rem 1rem;
  display: grid;
  /* grid-template-columns: repeat(3 , 1fr); */
  /* grid-template-rows: repeat(2, 1fr); */
  margin: 1rem;
  gap: 3rem;
  justify-content: center;
  border-radius: 1rem;
}

.blog-post{
  border: .12rem solid rgb(95, 95, 95);
  aspect-ratio: 1;
  display: grid;
  position: relative;
  grid-template-rows: 4fr 2fr;
  border-radius: .5rem;
  font-size: 1rem;
  box-shadow: 0px 3px 3px 3px rgb(184, 184, 184);
}

.post-content{
  display: grid;
  bottom: 0;
  width: 100%;
  height: 35%;
  position: absolute;
  z-index: 1;
  background-color: rgba(31, 31, 31, 0.85);
  padding: 1.5rem .5rem;
  align-items: start;
  border-radius: .5rem;
  color: #9b9b9b;
  overflow: hidden;
}

.post-content > p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow:ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  font-weight: 500;
  /* max-height: 100%; */
  font-size: .9em;
  text-align: left;
  text-indent: 5%;
}

.blog-image-wrapper{
  position: relative;
  z-index: 1;
  height: 100%;
}

.blog-image-wrapper >img{
  width: 100%;
  height: auto;
  z-index: 1;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.blog-buttons-wrapper{
  position: absolute;
  z-index: 2;
  bottom: .5rem;
  right: 2rem;
  font-size: 1.4rem;
  color: rgb(151, 151, 151);
  display: flex;
  gap: 1rem;
}

.see-post-button{
  width:30%;
  position: absolute;
  bottom: 0;
  align-self: center;
  padding:.3rem;
  /* background-color:'rgba(255,255,255,.8)'; */
  outline: none;
  background-color: rgba(131, 131, 131, 0.5);
  border: none;
  color: #b3b3b3;
  font-weight: 600;
  z-index: 1;
  border-top-right-radius: .4rem;
}

.open-blog-container{
  min-height: 100vh;
  display: grid;
  gap: 2rem;
}



.blog-post-left > h2{
  padding-top: 1rem;
  margin-bottom: -5rem;
  color: rgb(143 208 255)}



.blog-post-right > h3{
  color: var(--title-gray);
  padding: 2rem;
  /* text-shadow: 1px 1px rgb(124, 124, 124); */
  text-align: center;
}



.open-post-image-wrapper > img {
  border: .12rem solid rgb(196, 196, 196);
}

.post-summary-wrapper{
  padding-top:1rem;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.about-label{
  font-weight: 500;
  font-size: .95rem;
  color: var(--title-gray);
  padding-right: .5rem;
}

.open-blog-main-content{
  background-color: rgb(248, 248, 248);
  display: grid;
}

.blog-post-right{
  background-color: #e6e6e6;
  justify-self: center;
  margin: .5rem;
  padding: 1rem;
}

.blog-post-left{
  display: grid;
  grid-template-rows: .6fr .6fr 3fr;
  padding: 1rem;
}

.post-info-wrapper > h3{
  text-align: center;
  padding-bottom: 3rem;
  color: var(--title-gray);
}

.post-info-wrapper{
  /* position: fixed; */
  justify-self: center;
  max-height: 100vh;
}

/* .logo-border, */
.logo-text{
  color: rgb(105,105,105);
  font-size: 1.6em;
  font-weight: 600;
  
}

.logo-container{
  border:.23rem solid rgb(105, 105, 105);
  aspect-ratio: 1;
  border-radius: 900rem;
  height: 7rem;
}

.background-cover{
  background-color: black;
  opacity: .5;
  position: fixed;
  height: 150vh;
  width: 150vw;
  z-index: 2;
}

.contact-page{
  min-height: 100vh;
  display: grid;
  justify-content: center;
}

.contact-content{
  display: grid;
  padding: 1rem;
  gap: 1.5rem;
  padding: 3.5rem 2rem;
}

.contact-content > div > p{
  padding: 0 1rem;
  color: rgb(158, 158, 158);
}

.contact-middle > p{
  font-weight: 400;
}

.contact-form{
  /* border: 1px solid blue; */
  gap: 1rem;
  display: grid;
  padding: 1rem;
}

.contact-form > input {
  border: none;
  outline: none;
  padding: 1rem;
  background-color: rgb(224, 224, 224);
}

.contact-form > textarea{
  border: none;
  outline: none;
  padding: 1rem;
  background-color: rgb(224, 224, 224);
  min-height: 30vh;
}

.contact-form > button {
  padding: 1rem;
  background-color: var(--main-blue);
  border-radius: .4rem;
  font-weight: 600;
  border: none;
  outline: none;
  color: white;
}

.contact-section > h1{
  color: var(--title-gray);
  padding-bottom: .5rem;
  font-weight: 700 !important;
}

.contact-section > h2 {
  color: var(--title-gray);
  padding-bottom: .5rem;
  font-weight: 400;
}

.contact-icon{
  margin-right: .6rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--main-blue) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}














@media(orientation:landscape){

  .review-container{
    font-size: 1rem;
    grid-template-columns: 1fr 5fr 1fr;
  }

  .logo{
    width: 4.5rem;
  }

  .contact-content{
    margin: 0 20vw;
  }

  .reviewPageContainer{
    grid-column-start: 1;
    grid-column-end: -1;
    /* min-height: 100vh; */
    display: grid;
    padding: 5rem;
  }

  .open-blog-main-content{
    display: grid;
    grid-template-columns: 4fr 2fr;
    max-width: 65vw;
    justify-content: center;
    justify-self: center;
    background-color: rgb(248, 248, 248);
    border: .12rem solid rgb(230, 230, 230);
  }

  .open-post-image-wrapper{
    width: 70%;
    display: grid;
    justify-self: center;
    align-items: center;
    height: max-content;
    margin: -1rem;
  }

  .blog-post-right{
    background-color: #e6e6e6;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap:1rem;
    border: 1px solid rgb(224, 224, 224);
    position: relative;
    padding: 3rem 1rem;
    margin: 0;
  }
  
  .blog-post-left{
    display: grid;
    grid-template-rows: .3fr .3fr 5.4fr;
    padding: 3rem;
  }

  .about-image-wrapper > img{
    max-width: 25vw;
  }

  .about-main-info{
    grid-template-columns: repeat(2, 1fr);
  }

  .main-info-left{
    grid-template-rows: 1fr 5fr;
  }

  .main-info-right{
    justify-content: center;
  }

  .main-info-left > p {
    font-size: 1.1rem;
  }

  .blogs-wrapper{
      grid-template-columns: repeat(3 , 1fr);
  }
  .post-content > p{
    font-size: .85em;
  }

  .blogs-wrapper{
    margin: 0 10rem;
    gap: 5rem;
  }

  .reasons-why-container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(2, 1fr) ;
    gap: 3rem;
  }

  .why-buy-container{
   padding: 0 10vw;
  }

  .why-buy-container > div{
    padding: 4rem;
  }
}

@media (orientation: landscape) and (width < 900px){
  :root{
    font-size: .65rem;
  }

  .mobile-message-wrapper{
    display: none;
  }
}

@media (orientation: portrait){
    :root{
      font-size: 1.3rem;
    }

    .reviewPageContainer{
      grid-column-start: 1;
      grid-column-end: -1;
      /* min-height: 100vh; */
      display: grid;
      padding: 1rem;
  }
  

    .content-container{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      z-index: 3;
      overflow: hidden;
      position: relative;
    }

    .main-system-message-container{
      font-size: .7rem;
      font-weight: 500;
    }

    .home-menu-wrapper{
      position: relative;
      z-index: 7;
    }
    

    .content-container-left{
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 3rem 2rem;
      z-index: 3;
      width: 100%;
      background-color: transparent;
    }

    .overlay{
      display: none;
      width: 100%;
    }

    .menu-buttons-container > a{
      display: none;

    }

    .mobile-message-wrapper{
      color: white;
      font-size: 1.3rem;
      display: grid;
      justify-items: center;
      gap: 1rem;
      font-weight: 600;
      letter-spacing: .09rem;
      text-shadow: 0 0 .05rem rgb(97, 97, 97);
    }

    .mobile-home-text{
      font-size: 2.1rem;
      font-weight: 900;
      color: white;
      text-align:center;
    }

    .stars-container-home{
      display: none;
    }

    .shop-now-button-wrapper{
      background-color: white !important;
      color: rgb(45,45,45) !important;
      width: 60vw;
      border-radius: .5rem;
    }

    .home-shop-now-btn{
      color:rgb(45,45,45) !important;
      font-weight: 600 !important;
      font-size: 1.3rem !important;
    }
    
    .menu-container{
      display: grid;
      z-index: 5;
      position: sticky;

      top: 0;
    }

    .open-menu-container{
      z-index: 6 ;
      width: 100vw;
      height: 100vh;
      border-radius: 0;
    }

    /* SHOPS PAGE STYLES MOBILE */

    .shop-main-content{
      display: grid !important;
      grid-template-columns: 1fr;
      grid-template-rows: .6fr 5.4fr ;
    }


    .shop-main-content,
    .displayed-products-container,
    .shop-side-bar{
      padding: .5rem !important;
      height: 100% !important;
    }

    .displayed-products-container{
      grid-template-columns: 1fr 1fr;
    }

    .product-container{
      /* aspect-ratio: 1; */
    }

    /* OPENED PRODUCT MOBILE */

    .opened-product-main-content{
      grid-template-columns: 1fr;
    }
    .main-content-left {
      max-height: fit-content;
    }

    .main-content-right {
      padding: 1rem;
    }


    .author-info-top{
      gap: .5rem;
      padding: 0;
      display: flex;
      flex-direction: column;
      font-size: 1rem;

    }

    .author-initials-wrapper{
      height: 3em;
      width: 3em;
      font-size: 1rem;

    }

    .author-initials-wrapper > p{
      font-size: .5em !important;
    }

    .opened-cart{
      width: 100vw;
      grid-template-rows: .6fr 4.3fr 1.1fr
    }

    .checkout-header-container{
      display: grid !important;
      width: 100vw !important;
      justify-items: center;
      justify-content: center !important;
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 2;
      box-shadow: 0px 0px 1rem .1rem rgb(182, 182, 182);
    }

    .checkout-progress-container{
      width: 80vw !important;
      padding-bottom: 1rem;
    }

    .checkout-main-content{
      grid-template-columns: 1fr !important;
      width: 100vw !important;
      display: flex !important;
      flex-direction: column-reverse;
      justify-content: flex-end !important;
      z-index: 1;
      position: relative !important;
    }

      .reviewContentContainer{
       display: flex;
      justify-content: flex-end; 
      padding: 2rem;
      }
      
  
      .review-container{
          padding: 1rem 0;
          gap: 1.5rem;
      }

}

@media(orientation: portrait) and (width < 750px){
  :root{
    font-size: .85rem;
  }
}


